@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.header {
  background-color: #050036;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding: 10px 0px 10px 0px;
  border-bottom: 4px solid #f7c92e;
}

.header h1 {
  font-family: 'Rowdies', cursive;
}

.header svg {
  font-size: 25px;
  color: #f7c92e;
}

.page {
  display: flex;
  height: calc(100vh - 64px);
}

.side-bar {
  width: 250px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 20px;
}

.side-top {
  display: flex;
  column-gap: 10px;
  font-size: 25px;
  align-items: center;
}

.page-content {
  background: #f2f2f2;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url('../assets/page_background.png');
  -webkit-box-shadow: inset 1px 0px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 0px 14px -1px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: top;
  flex: 1 0 auto;
}

.add-task-button {
  width: 80%;
  padding: 10px;
  text-transform: none;
  border: none;
  background: #050036;
  color: #fff;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.3s;
}

.add-task-button:hover {
  cursor: pointer;
  background: #080052;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px 8px 35px;
  font-size: 20px;
  column-gap: 10px;
  border-bottom: 2px solid rgb(189, 189, 189);
  width: 100%;
}

.project-top h3 {
  color: #050036;
}

.project-top svg {
  color: #ff6575;
  transition: 0.5s;
  pointer-events: auto;
}

.project-top svg:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

.task-modal,
.project-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.task-modal-content,
.project-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px 15px 15px 15px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
}

.project-modal-content {
  width: 30%;
}

#pname {
  border-radius: 5px;
  width: 100%;
  border: none;
  background: #e6e6e6;
  height: 30px;
  margin: 5px 0px 10px 0px;
}

#submitProject {
  color: #fff;
  background: #ff5969;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  padding: 2px 0px 2px 0px;
}

#submitProject:hover {
  cursor: pointer;
  background: #ff4e5f;
}

/* The Close Button */
.task-close,
.project-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.task-close:hover,
.task-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.project-close:hover,
.project-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.task-modal-top,
.project-modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes modal-animate-t {
  0% {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
}

.modal-animation-t {
  animation: modal-animate-t 0.4s linear;
}

@keyframes modal-animate-p {
  0% {
    transform: translateX(-100%) translateY(110%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1;
  }
}

.modal-animation-p {
  animation: modal-animate-p 0.4s linear;
}

.project-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: 20px;
  overflow-y: auto;
  height: 300px;
}

.project-list p {
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
}

.project-list p:hover {
  cursor: pointer;
  background: rgb(240, 240, 240);
}

.project-list .delete-project {
  font-weight: 500;
}

.project-list .delete-project:hover {
  color: #fc3246;
  font-weight: 600;
}
